*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body
{
    width: 100%;
    height: 100vh;
    background-image: url(tokyobg.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.navar
{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navar ul li
{
    list-style: none;
    display:inline-flex;
    margin: 0 20px;
    position: relative;
}
.navar ul li a
{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase ;
}
.navar ul li::after
{
     content: '';
     width: 0;
     height: 3px;
     background: rgb(243, 0, 0);
     position: absolute;
     left: 0;
     bottom: -10px;
     transition: 0.5s;
}
.navar ul li:hover::after
{
    width: 100%;
}
.text h1
{
    font-size: 70px;
    margin-top: 80px;    
    text-align: center;
    color: #fff;
    text-shadow: 0px 10px 10px #070707;
}
.text p
{
    margin: 20px auto;
    font-size: 20px;
    font-weight: 100;
    line-height: 25px;
    text-align: center;
    color: #fff;
    text-shadow: 0px 10px 10px #070707;
}
.image-container
{
	width: 205px;
	height: 300px;
	text-align:center;
    margin: 15px;
}

